body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

.container {
    width: 300px;
    margin: 0 auto;
    margin-top: 50px;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

h1,
h2 {
    text-align: center;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.form-group input {
    width: 100%;
    padding: 5px;
    font-size: 16px;
    border-radius: 3px;
    border: 1px solid #ccc;
}

.form-group button {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.logout-button {
    padding: 5px 10px;
    font-size: 14px;
    background-color: #f44336;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.agenda {
    margin-top: 30px;
}

.agenda ul {
    list-style-type: none;
    padding: 0;
}

.agenda li {
    position: relative;
    margin-bottom: 10px;
}

.agenda li button {
    position: absolute;
    right: 0;
    top: 0;
    padding: 5px 10px;
    background-color: #ff5f5f;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 10px;
    transition: background-color 0.3s ease;
}

.agenda li button:hover {
    background-color: #ff3333;
}

.hidden {
    display: none;
}